*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main-container{
    background: #86A3B8;
    height: 100vh;
}
.card_container{
    background-color: white;
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 60px;
    border-radius: 10px;
}
.questions_list ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.question_title{
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;
}
.questions_list{
    margin-top: 30px;
}
.submit_btn{
    padding: 10px 25px;
    border: none;
    background: #5058f5;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    
}
.submit_btn:hover{
    background:#9397ea;
}
.btn_sec_main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.play_btn{
    padding: 10px 25px;
    border: none;
    background: #F48484;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
}
.your_score{
    text-align: center;
    font-weight: 500;
}
.your_score_main{
    background: #EEE9DA;
    margin-top: 10px;
    padding: 20px;
}
.mainFinal{
    display: none;
}